<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>Cassia Leidigh{% if page_title %} &rsaquo; {{ page_title }}{% endif %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery-1.4.2.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}site.css" media="all">
	<script type="text/javascript" src="{{ MEDIA_URL }}site.js"></script>
	{% block head %}
	{% endblock %}
</head>
<body id="{{ body_id }}" class="{% if logged_in %}logged-in{% else %}logged-out{% endif %}">

<div id="wrapper">
	<div id="header">
		<h1>
			<a href="/">The Portfolio of Cassia Leidigh</a>
		</h1>
		<ul id="menu">
			{% nav index %}
			{% nav gallery %}
			{% nav about %}
		</ul>
	</div>
	<div id="content">

{% block body %}
{% endblock %}

	</div><!-- #content -->
	<div id="footer">
		{% block footer %}
		<p class="copyright">Everything here Copyright &copy; Cassia Leidigh {% now "Y" %}. Don&rsquo;t steal.</p>
		{% endblock %}
	</div>
</div><!-- #wrapper -->

</body>
</html>