{% extends 'base.html' %}
{% block page_title %}Home{% endblock page_title %}
{% block body %}
	
<div class="statement-preview">
	<p class="quote">&ldquo;My artwork communicates my interest in the beautiful things around&nbsp;me&rdquo;</p>
	<p class="preview-link"><a href="/about/">Read more about Cassia</a>&nbsp;&rsaquo;</p>
</div>
<div class="gallery-preview">
	<ul id="thumbs">
		{% for item in items_by_id|reverse|slice(0,7) %}
			<li><a href="{{ projects_by_id[item.project].url }}"><img src="{{ item.thumb }}"></a></li>
		{% else %}
			<li>No images</li>
		{% endfor %}
	</ul>
	<p class="preview-link"><a href="/gallery/">View the gallery</a>&nbsp;&rsaquo;</p>
</div>

{% endblock %}