<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery-1.4.2.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ SYS_MEDIA_URL }}uploadify/uploadify.css" media="all">
	<link rel="stylesheet" type="text/css" href="{{ SYS_MEDIA_URL }}css/admin.css" media="all">

	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.timeago.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.idle-timer.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.localscroll.min.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.uniform.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.timers.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}uploadify/swfobject.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}uploadify/jquery.uploadify.v2.1.0.min.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/admin.js"></script>

</head>
<body id="{{ body_id }}" class="{% if logged_in %}logged-in{% else %}logged-out{% endif %}">

<div id="wrapper">

<iframe src="/" frameborder="0" width="100%" height="100%"></iframe>

</div><!-- #wrapper -->

<div id="admin-bar">
	<!--<div id="focus">
		<div>
		</div>
	</div>-->
	<div id="shadow"></div>
	<div id="container">
		<div id="project-list" class="list">
			<div class="list-header">
				<h1>Projects</h1>
				<a href="#" title="Add new project" id="add-project" class="add-button"><span>Add project</span></a>
			</div>
			<div class="list-container">
				<ul class="listview">
{% for project in projects_by_id %}
					<li class="project list-item" data-pid="{{ project.id }}">
						<h2>{{ project.title }}</h2>
						<ul class='options'>
							<li class="li-item view-project"><a href='#'>View project {{ project.id }}</a></li>
							<li class="li-item edit-project"><a href='#'>Edit project {{ project.id }}</a></li>
							<li class="li-item delete-project"><a href='{{ project.url }}'>Delete project {{ project.id }}</a></li>
							<li class="li-item sort-handle"><span>Reorder</span></li>
						</ul>
					</li>
{% endfor %}
				</ul>
				<div class="listview-end-cap">
				</div>
			</div>
			<div class="list-footer">
			</div>
		</div>
		<div id="item-list" class="list">
			<div class="list-header">
				<h1>Project Title</h1>
				<a href="#" title="Add new project" id="show-project-list" class="add-button"><span>Add item</span></a>
			</div>
			<div class="list-container">
				<ul class="listview">
					<li class="list-item">Item 1</li>
					<li class="list-item">Item 2</li>
					<li class="list-item">Item 3</li>
					<li class="list-item">Item 4</li>
					<li class="list-item">Item 5</li>
					<li class="list-item">Item 6</li>
					<li class="list-item">Item 7</li>
				</ul>
				<div class="listview-end-cap"></div>
			</div>
			<div class="list-footer">
			</div>
		</div>
	</div>
</div>

</body>
</html>