{% extends 'base.html' %}
{% block body %}
<ul>
{% for project in projects_by_id %}
{% if items_by_project[project.id] %}
{% set first_item as items_by_project[project.id]|first %}
	<li>
		<a href="{{ project.url }}">
			{% if first_item %}
			<img src="{% thumbnail first_item.image 50 %}" alt="{{ project.title }}">
			{% else %}
			<img src="{% thumbnail 'default-image.png' 50 %}" alt="{{ project.title }}">
			{% endif %}
			<strong>{{ project.title }} ({{ project.item_count }})</strong>
		</a>
	</li>
{% else %}
<!-- Project {{ project.id }} ({{ project.title_src }}) is empty -->
{% endif %}
{% endfor %}
</ul>
{% endblock %}