{% extends 'base.html' %}
{% block body %}
<ul>
{% for project in projects_by_id %}
{% if items_by_project[project.id] %}
{% set first_item as items_by_project[project.id]|first %}
	<li>
		<a href="{{ project.url }}">
			{% if first_item %}
			<!--<img src="{-% thumbnail items_by_project 50 inside %-}" alt="{{ project.title }}">-->
			<img src="{{ first_item["thumb"] }}" alt="{{ project.title }}">
			{% else %}

			{% endif %}
			<strong>{{ project.title }} ({{ project.item_count }})</strong>
		</a>
	</li>
{% else %}
<!-- Project {{ project.id }} ({{ project.title_src }}) is empty -->
{% endif %}
{% endfor %}
</ul>
{% endblock %}