/* @override 
	http://cooper.local:7777/user/media/site.css
*/

/* @group YUI Reset CSS */

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* @end */

body{
	color: #fff;
	font-family: Palatino, Baskerville, Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
}

html,body{
	height: 100%;
	background: #000 url(background.jpg) no-repeat left top;
}

a {
	color: #AAA;
}

#header h1{
	line-height: 170px;
	height: 170px;
	position: relative;
	font-style: italic;
}

#header h1 a{
	position: absolute;
	color: transparent;
	width: 526px;
	height: 128px;
	display: block;
	background: url(header-text.jpg) no-repeat;
	top: 36px;
	left: 37px;
	text-indent: -2180px;
}

h2{
	font-size: 24px;
	height: 50px;
	line-height: 55px;
	font-style: italic;
}

p{
	line-height: 1.5em;
	font-size: 16px;
	letter-spacing: 0;
}

body#page-about #content p{
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 17px;
}

#content{
	margin: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 40px;
}


ul#menu{
	height: 30px;
	line-height: 30px;
	padding-left: 50px;
	background: #000;
	background: rgba(0,0,0,0.7);
	margin-bottom: 10px;
}

ul#menu li{
	display: inline;
	margin-right: 20px;
}

ul#menu li a{
	color: #FFF;
	display: block;
	float: left;
	height: 29px;
	line-height: 32px;
	text-decoration: none;
	padding: 0 10px;
	margin-right: 2px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

ul#menu li a:hover{
	border-bottom: 2px solid #555;
}

ul#menu li.current a{
	border-bottom: 2px solid #FFF;
}

ul#thumbs li{
	display: block;
	float: left;
	margin: 0 8px 8px 0;
	height: 100px;
	overflow: hidden;
}

ul#thumbs li a{
	border-bottom: none;
}

ul#thumbs li img{
	-webkit-box-shadow: 0px 5px 15px #000;
}

.primary,
.secondary{
	margin-bottom: 50px;
	position: relative;
}

p.quote{
	text-align: right;
	position: relative;
	font-style: italic;
	line-height: 38px;
	font-size: 36px;
	padding-bottom: 30px;
	margin: 0;
}

p.preview-link{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div.statement-preview p.preview-link{
	position: absolute;
	bottom: 0;
	right: 0;
}

div.gallery-preview,
div.statement-preview{
	position: relative;
	overflow: ;
}

div.gallery-preview p.preview-link{
	position: absolute;
	bottom: 0;
	left: 0px;
}

div.statement-preview{
	width: 300px;
	float: left;
	margin-right: 20px;
}

div.gallery-preview{
	width: 630px;
	float: left;
	padding-bottom: 30px;
}

body#page-about .primary{
	width: 740px;
	float:left;
	margin-right:10px;
}

body#page-about .primary img{
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

#content a{
	text-decoration: none;
	border-bottom: 1px dotted #b2b2b2;
}

#content a:hover{
	text-decoration: none;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

ul#thumbs{
	overflow: hidden;
}