<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{% if page_title %} &rsaquo; {{ page_title }}{% endif %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/site.css" media="all">

	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.timeago.js"></script>

	<script type="text/javascript" src="{{ MEDIA_URL }}js/site.js"></script>

{% if !user.logged_in %}
	<link rel="stylesheet" type="text/css" href="{{ SYS_MEDIA_URL }}uploadify/uploadify.css" media="all">
	<link rel="stylesheet" type="text/css" href="{{ SYS_MEDIA_URL }}css/admin.css" media="all">

	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.idle-timer.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.localscroll.min.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.uniform.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.timers.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.dataset.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}uploadify/swfobject.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}uploadify/jquery.uploadify.v2.1.0.min.js"></script>
	<script type="text/javascript" src="{{ SYS_MEDIA_URL }}js/admin.js"></script>
{% endif %}

</head>
<body id="{{ body_id }}" class="{% if logged_in %}logged-in{% else %}logged-out{% endif %}">
<div id="wrapper">
	<div id="wrapper-inner">
		<div id="header">
			<h1><a href="/">The Portfolio of Cassia Leidigh</a></h1>
		</div>
		<ul id="menu">
			<li class="current"><a href="/">Home</a></li>
			<li><a href="/gallery/">The Gallery</a></li>
			<li><a href="/about.html">About the Artist</a></li>
		</ul>
		<div id="content">
	<!--
			<div id="project-add">
				<form action="{{ API_URL }}project/add" method="post" accept-charset="utf-8">
					<input type="text" name="project_title" value="">
					<p><button type="submit">Add New Project</button> <a class="cancel" href="#">Cancel</a></p>
				</form>
			</div>
	-->
{% block body %}

{% endblock body %}
		</div><!-- #content -->
	</div><!-- #wrapper-inner -->
</div><!-- #wrapper -->
{% include "admin-bar.html" %}
</body>
</html>