{% extends 'base.html' %}
{% block body %}

<div class="primary">
	<h2>About Cassia&nbsp;Leidigh</h2>
	<p>I make artworks because it is natural for me. I have been drawing almost all of my life. When I see someone with a particular facial structure I imagine painting them in my head, looking at the shadows and shapes of their face. This is inspiration for me. I enjoy looking at and recreating people around&nbsp;me.</p>
	<p>In painting a picture I usually start out by taking photographs. By taking the photos myself I can chose the mood and angle of the picture. I enjoy unusual natural poses for portraits. I then sketch the drawing, sometimes on paper first, sometimes directly on the canvas. After that I block in general colors and try to get right relationships between objects. I then try to perfect the painting till it looks satisfactory to&nbsp;me.</p>
	<p>I mainly paint with oil and watercolor. Both are delicious. Watercolor paints are enjoyable because of the blending possibilities and freedom of the medium. However I enjoy oil paints best because of the control you can have with the paint. I also like the smooth texture of oil&nbsp;paints.</p>
	<p>My artwork for me portrays my love for the human figure. It communicates my interest in the beautiful things around me. To express a feeling or a situation in such a way that it communicates to the viewer is to me a success. Another thing I like to do is to draw attention to things that usually go unnoticed. I would like to cause people to look closer at the vegetables on the table catching the light, or the random trashcan in the corner. My art is an expression of my thoughts, my feelings, my intellect, and&nbsp;myself.</p>
</div>
<div class="secondary">
	<img src="/images/cassia-portrait.jpg" alt="" />
</div>

{% endblock %}