<div id="admin-bar">
	<div id="shadow"></div>
	<div id="container">
		<div id="project-list" class="list">
			<div class="list-header">
				<h1>Projects</h1>
				<a href="#" title="Add new project" id="add-project" class="add-button"><span>Add project</span></a>
			</div>
			<div class="list-container">
				<ul class="listview">
{% for project in projects_by_id %}
					<li class='project list-item' data-pid='{{ project.id }}'>
						<h2>{{ project.title }}</h2>
						<ul class='options'>
							<li class='li-item view-project'><a href='#'>View project {{ project.id }}</a></li>
							<li class='li-item edit-project'><a href='#'>Edit project {{ project.id }}</a></li>
							<li class='li-item delete-project'><a href='{{ project.url }}'>Delete project {{ project.id }}</a></li>
							<li class='li-item sort-handle'><span>Reorder</span></li>
						</ul>
					</li>
{% endfor %}-->
				</ul>
				<div class="listview-end-cap">
				</div>
			</div>
			<div class="list-footer">
			</div>
		</div>
		<div id="item-list" class="list">
			<div class="list-header">
				<h1>Project Title</h1>
				<a href="#" title="Add new item" id="show-project-list" class="add-button"><span>Add item</span></a>
				<div class="item-add">
					<form enctype="multipart/form-data" action="{{ API_URL }}item/add/" method="POST">
						<h4>Add a new item to this project</h4>
						<select name="item_project" style="width:120px">
							{% for project in projects_by_id %}
							<option value="{{ project.id }}">{{ project.title }} {{ project.item_count }} ({{ project.id }})</option>
							{% endfor %}
						</select>
						<input name="image_original" type="file" />
						<p><button type="submit">Upload</button> <a class="cancel" href="#">Cancel</a></p>
					</form>
				</div>
			</div>
			<div class="list-container">
				<ul class="listview">
					<li class="list-item">Item 1</li>
					<li class="list-item">Item 2</li>
					<li class="list-item">Item 3</li>
					<li class="list-item">Item 4</li>
					<li class="list-item">Item 5</li>
					<li class="list-item">Item 6</li>
					<li class="list-item">Item 7</li>
				</ul>
				<div class="listview-end-cap"></div>
			</div>
			<div class="list-footer">
			</div>
		</div>
	</div>
</div>